USE [master]
GO
/****** Object:  Database [Quiz_Management]    Script Date: 05-02-2025 12:54:45 ******/
CREATE DATABASE [Quiz_Management]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CSE_23010101272', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CSE_23010101272.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CSE_23010101272_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CSE_23010101272_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Quiz_Management].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Quiz_Management]
GO
/****** Object:  Table [dbo].[MST_Question]    Script Date: 05-02-2025 12:54:45 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_Question](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionText] [nvarchar](max) NOT NULL,
	[QuestionLevelID] [int] NOT NULL,
	[OptionA] [nvarchar](100) NOT NULL,
	[OptionB] [nvarchar](100) NOT NULL,
	[OptionC] [nvarchar](100) NOT NULL,
	[OptionD] [nvarchar](100) NOT NULL,
	[CorrectOption] [nvarchar](100) NOT NULL,
	[QuestionMarks] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[UserID] [int] NOT NULL,
	[Created] [datetime] NOT NULL,
	[Modified] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_QuestionLevel]    Script Date: 05-02-2025 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_QuestionLevel](
	[QuestionLevelID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionLevel] [nvarchar](100) NOT NULL,
	[UserID] [int] NOT NULL,
	[Created] [datetime] NOT NULL,
	[Modified] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionLevelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_Quiz]    Script Date: 05-02-2025 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_Quiz](
	[QuizID] [int] IDENTITY(1,1) NOT NULL,
	[QuizName] [nvarchar](100) NOT NULL,
	[TotalQuestions] [int] NOT NULL,
	[QuizDate] [datetime] NOT NULL,
	[UserID] [int] NOT NULL,
	[Created] [datetime] NOT NULL,
	[Modified] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QuizID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_QuizWiseQuestions]    Script Date: 05-02-2025 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_QuizWiseQuestions](
	[QuizWiseQuestionsID] [int] IDENTITY(1,1) NOT NULL,
	[QuizID] [int] NOT NULL,
	[QuestionID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Created] [datetime] NOT NULL,
	[Modified] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QuizWiseQuestionsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_User]    Script Date: 05-02-2025 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Mobile] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[Created] [datetime] NOT NULL,
	[Modified] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MST_Question] ON 

INSERT [dbo].[MST_Question] ([QuestionID], [QuestionText], [QuestionLevelID], [OptionA], [OptionB], [OptionC], [OptionD], [CorrectOption], [QuestionMarks], [IsActive], [UserID], [Created], [Modified]) VALUES (1, N'what is your name?', 1, N'a', N'b', N'c', N'd', N'b', 1, 1, 1, CAST(N'2025-01-30T19:39:49.650' AS DateTime), CAST(N'2025-01-30T19:53:08.847' AS DateTime))
SET IDENTITY_INSERT [dbo].[MST_Question] OFF
GO
SET IDENTITY_INSERT [dbo].[MST_QuestionLevel] ON 

INSERT [dbo].[MST_QuestionLevel] ([QuestionLevelID], [QuestionLevel], [UserID], [Created], [Modified]) VALUES (1, N'very easy', 1, CAST(N'2025-01-30T20:02:40.517' AS DateTime), CAST(N'2025-01-30T20:02:40.517' AS DateTime))
INSERT [dbo].[MST_QuestionLevel] ([QuestionLevelID], [QuestionLevel], [UserID], [Created], [Modified]) VALUES (2, N'easy', 1, CAST(N'2025-01-30T20:19:27.690' AS DateTime), CAST(N'2025-01-30T20:21:19.933' AS DateTime))
SET IDENTITY_INSERT [dbo].[MST_QuestionLevel] OFF
GO
SET IDENTITY_INSERT [dbo].[MST_Quiz] ON 

INSERT [dbo].[MST_Quiz] ([QuizID], [QuizName], [TotalQuestions], [QuizDate], [UserID], [Created], [Modified]) VALUES (1, N'exam1', 50, CAST(N'2020-10-10T00:00:00.000' AS DateTime), 1, CAST(N'2025-01-29T20:18:39.330' AS DateTime), CAST(N'2025-01-30T19:09:24.690' AS DateTime))
INSERT [dbo].[MST_Quiz] ([QuizID], [QuizName], [TotalQuestions], [QuizDate], [UserID], [Created], [Modified]) VALUES (2, N'exam2', 60, CAST(N'2020-10-10T00:00:00.000' AS DateTime), 2, CAST(N'2025-01-30T18:49:34.710' AS DateTime), CAST(N'2025-01-30T18:49:34.710' AS DateTime))
SET IDENTITY_INSERT [dbo].[MST_Quiz] OFF
GO
SET IDENTITY_INSERT [dbo].[MST_QuizWiseQuestions] ON 

INSERT [dbo].[MST_QuizWiseQuestions] ([QuizWiseQuestionsID], [QuizID], [QuestionID], [UserID], [Created], [Modified]) VALUES (1, 1, 1, 1, CAST(N'2025-01-30T20:26:52.513' AS DateTime), CAST(N'2025-01-30T20:26:52.513' AS DateTime))
INSERT [dbo].[MST_QuizWiseQuestions] ([QuizWiseQuestionsID], [QuizID], [QuestionID], [UserID], [Created], [Modified]) VALUES (2, 2, 1, 2, CAST(N'2025-01-30T20:30:47.173' AS DateTime), CAST(N'2025-01-30T20:36:19.560' AS DateTime))
INSERT [dbo].[MST_QuizWiseQuestions] ([QuizWiseQuestionsID], [QuizID], [QuestionID], [UserID], [Created], [Modified]) VALUES (3, 2, 1, 2, CAST(N'2025-01-30T20:35:07.430' AS DateTime), CAST(N'2025-01-30T20:35:07.430' AS DateTime))
SET IDENTITY_INSERT [dbo].[MST_QuizWiseQuestions] OFF
GO
SET IDENTITY_INSERT [dbo].[MST_User] ON 

INSERT [dbo].[MST_User] ([UserID], [UserName], [Password], [Email], [Mobile], [IsActive], [IsAdmin], [Created], [Modified]) VALUES (1, N'Jainil', N'Jainil@123', N'jainilthummar2005@gmail.com', N'7321234354', 1, 0, CAST(N'2025-01-29T18:36:18.130' AS DateTime), CAST(N'2025-01-29T19:15:06.930' AS DateTime))
INSERT [dbo].[MST_User] ([UserID], [UserName], [Password], [Email], [Mobile], [IsActive], [IsAdmin], [Created], [Modified]) VALUES (2, N'smit', N'smit@123', N'smitmaru2005@gmail.com', N'9021234354', 1, 0, CAST(N'2025-01-30T18:46:53.130' AS DateTime), CAST(N'2025-01-30T18:46:53.130' AS DateTime))
SET IDENTITY_INSERT [dbo].[MST_User] OFF
GO
ALTER TABLE [dbo].[MST_Question] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MST_Question] ADD  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[MST_QuestionLevel] ADD  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[MST_Quiz] ADD  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[MST_QuizWiseQuestions] ADD  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[MST_User] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MST_User] ADD  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[MST_User] ADD  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[MST_Question]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[MST_User] ([UserID])
GO
ALTER TABLE [dbo].[MST_QuestionLevel]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[MST_User] ([UserID])
GO
ALTER TABLE [dbo].[MST_Quiz]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[MST_User] ([UserID])
GO
ALTER TABLE [dbo].[MST_QuizWiseQuestions]  WITH CHECK ADD FOREIGN KEY([QuestionID])
REFERENCES [dbo].[MST_Question] ([QuestionID])
GO
ALTER TABLE [dbo].[MST_QuizWiseQuestions]  WITH CHECK ADD FOREIGN KEY([QuizID])
REFERENCES [dbo].[MST_Quiz] ([QuizID])
GO
ALTER TABLE [dbo].[MST_QuizWiseQuestions]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[MST_User] ([UserID])
GO
/****** Object:  StoredProcedure [dbo].[Dropdown_MST_Question]    Script Date: 05-02-2025 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[Dropdown_MST_Question]
AS
BEGIN
	SELECT
		[dbo].[MST_Question].[QuestionID],
		[dbo].[MST_Question].[QuestionText]
		FROM [dbo].[MST_Question]
END
GO
/****** Object:  StoredProcedure [dbo].[Dropdown_MST_QuestionLevel]    Script Date: 05-02-2025 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[Dropdown_MST_QuestionLevel]
AS
BEGIN
	SELECT
		[dbo].[MST_QuestionLevel].[QuestionLevelID],
		[dbo].[MST_QuestionLevel].[QuestionLevel]
		FROM [dbo].[MST_QuestionLevel]
END
GO
/****** Object:  StoredProcedure [dbo].[Dropdown_MST_Quiz]    Script Date: 05-02-2025 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[Dropdown_MST_Quiz]
AS
BEGIN
	SELECT
		[dbo].[MST_Quiz].[QuizID],
		[dbo].[MST_Quiz].[QuizName]
		FROM [dbo].[MST_Quiz]
END
GO
/****** Object:  StoredProcedure [dbo].[Dropdown_MST_User]    Script Date: 05-02-2025 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[Dropdown_MST_User]
AS
BEGIN
	SELECT
		[dbo].[MST_User].[UserID],
		[dbo].[MST_User].[UserName]
		FROM [dbo].[MST_User]
END

GO
/****** Object:  StoredProcedure [dbo].[PR_MST_Question_Delete]    Script Date: 05-02-2025 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[PR_MST_Question_Delete]
@QuestionID INT
AS
BEGIN
    -- Deleting the Question based on QuestionID
    DELETE FROM [dbo].[MST_Question]
    WHERE [dbo].[MST_Question].[QuestionID] = @QuestionID
END
GO
/****** Object:  StoredProcedure [dbo].[PR_MST_Question_Insert]    Script Date: 05-02-2025 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
----------------------- Stored Procedures for MST_Question Table ------------------------------
--Stored Procedures for MST_Question Table Insert
CREATE   PROC [dbo].[PR_MST_Question_Insert]
	@QuestionText		NVARCHAR(MAX),
	@QuestionLevelID	INT,
    @OptionB			NVARCHAR(100),
    @OptionA			NVARCHAR(100),
    @OptionC			NVARCHAR(100),
    @OptionD			NVARCHAR(100),
    @CorrectOption		NVARCHAR(100),
    @QuestionMarks		INT,
    @UserID				INT
AS
BEGIN
    INSERT INTO [dbo].[MST_Question] 
    (
        [dbo].[MST_Question].[QuestionText],
        [dbo].[MST_Question].[QuestionLevelID],
        [dbo].[MST_Question].[OptionA],
        [dbo].[MST_Question].[OptionB],
        [dbo].[MST_Question].[OptionC],
        [dbo].[MST_Question].[OptionD],
        [dbo].[MST_Question].[CorrectOption],
        [dbo].[MST_Question].[QuestionMarks],
		[dbo].[MST_Question].[IsActive],
        [dbo].[MST_Question].[UserID],
        [dbo].[MST_Question].[Modified]
    )
    VALUES
    (
        @QuestionText,
        @QuestionLevelID,
        @OptionA,
        @OptionB,
        @OptionC,
        @OptionD,
        @CorrectOption,
        @QuestionMarks,
		1,
        @UserID,
        GETDATE()
    )
END
GO
/****** Object:  StoredProcedure [dbo].[PR_MST_Question_SelectAll]    Script Date: 05-02-2025 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


GO
/****** Object:  StoredProcedure [dbo].[PR_MST_Question_SelectByID]    Script Date: 05-02-2025 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[PR_MST_Question_SelectByID]
@QuestionID INT
AS
BEGIN
    SELECT 
        [dbo].[MST_Question].[QuestionID],
        [dbo].[MST_Question].[QuestionText],
        [dbo].[MST_QuestionLevel].[QuestionLevel],
        [dbo].[MST_Question].[OptionA],
        [dbo].[MST_Question].[OptionB],
        [dbo].[MST_Question].[OptionC],
        [dbo].[MST_Question].[OptionD],
		[dbo].[MST_Question].[OptionA]+','+[dbo].[MST_Question].[OptionB]+','+[dbo].[MST_Question].[OptionC]+','+[dbo].[MST_Question].[OptionD] AS All_in_One,
        [dbo].[MST_Question].[CorrectOption],
        [dbo].[MST_Question].[QuestionMarks],
        [dbo].[MST_Question].[IsActive],
		[dbo].[MST_User].[UserName],
        [dbo].[MST_Question].[Created],
        [dbo].[MST_Question].[Modified]
    FROM [dbo].[MST_Question]
    INNER JOIN [dbo].[MST_QuestionLevel] ON [dbo].[MST_Question].[QuestionLevelID] = [dbo].[MST_QuestionLevel].[QuestionLevelID]
    INNER JOIN [dbo].[MST_User] ON [dbo].[MST_Question].[UserID] = [dbo].[MST_User].[UserID]
    WHERE [dbo].[MST_Question].[QuestionID] = @QuestionID
END
GO
/****** Object:  StoredProcedure [dbo].[PR_MST_Question_Update]    Script Date: 05-02-2025 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[PR_MST_Question_Update]
@QuestionID			INT,
@QuestionText		NVARCHAR(MAX),
@QuestionLevelID	INT,
@OptionA			NVARCHAR(500),
@OptionB			NVARCHAR(500),
@OptionC			NVARCHAR(500),
@OptionD			NVARCHAR(500),
@CorrectOption		NVARCHAR(500),
@QuestionMarks		INT,
@IsActive			BIT,
@UserID				INT
AS
BEGIN
    UPDATE [dbo].[MST_Question]
    SET 
        [dbo].[MST_Question].[QuestionText]		= @QuestionText,
		[dbo].[MST_Question].[QuestionLevelID]	= @QuestionLevelID,
        [dbo].[MST_Question].[OptionA]			= @OptionA,
        [dbo].[MST_Question].[OptionB]			= @OptionB,
        [dbo].[MST_Question].[OptionC]			= @OptionC,
        [dbo].[MST_Question].[OptionD]			= @OptionD,
        [dbo].[MST_Question].[CorrectOption]	= @CorrectOption,
		[dbo].[MST_Question].[QuestionMarks]	= @QuestionMarks,
		[dbo].[MST_Question].[IsActive]			= @IsActive,
        [dbo].[MST_Question].[UserID]			= @UserID,
        [dbo].[MST_Question].[Modified]			= getdate()
    WHERE [dbo].[MST_Question].[QuestionID]		= @QuestionID
END
GO
/****** Object:  StoredProcedure [dbo].[PR_MST_QuestionLevel_Delete]    Script Date: 05-02-2025 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[PR_MST_QuestionLevel_Delete]
@QuestionLevelID INT
AS
BEGIN
    DELETE FROM [dbo].[MST_QuestionLevel]
    WHERE [dbo].[MST_QuestionLevel].[QuestionLevelID] = @QuestionLevelID
END
GO
/****** Object:  StoredProcedure [dbo].[PR_MST_QuestionLevel_Insert]    Script Date: 05-02-2025 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[PR_MST_QuestionLevel_Insert]
    @QuestionLevel NVARCHAR(100),
    @UserID			INT
AS
BEGIN
    -- Inserting a new Question Level into MST_QuestionLevel table
    INSERT INTO [dbo].[MST_QuestionLevel] 
    (
        [dbo].[MST_QuestionLevel].[QuestionLevel],
        [dbo].[MST_QuestionLevel].[UserID],
        [dbo].[MST_QuestionLevel].[Modified]
    )
    VALUES
    (
        @QuestionLevel,
        @UserID,
        getdate()
    )
END
GO
/****** Object:  StoredProcedure [dbo].[PR_MST_QuestionLevel_SelectAll]    Script Date: 05-02-2025 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[PR_MST_QuestionLevel_SelectAll]
AS
BEGIN
    SELECT 
        [dbo].[MST_QuestionLevel].[QuestionLevelID],
        [dbo].[MST_QuestionLevel].[QuestionLevel],
		[dbo].[MST_User].[UserName],
        [dbo].[MST_QuestionLevel].[Created],
        [dbo].[MST_QuestionLevel].[Modified]
    FROM 
        [dbo].[MST_QuestionLevel]
    INNER JOIN 
        [dbo].[MST_User] 
    ON 
        [dbo].[MST_QuestionLevel].[UserID] = [dbo].[MST_User].[UserID]
END
GO
/****** Object:  StoredProcedure [dbo].[PR_MST_QuestionLevel_SelectByID]    Script Date: 05-02-2025 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[PR_MST_QuestionLevel_SelectByID]
@QuestionLevelID INT
AS
BEGIN
    SELECT 
        [dbo].[MST_QuestionLevel].[QuestionLevelID],
        [dbo].[MST_QuestionLevel].[QuestionLevel],
		[dbo].[MST_User].[UserName],
		[dbo].[MST_User].[UserID],
        [dbo].[MST_QuestionLevel].[Created],
        [dbo].[MST_QuestionLevel].[Modified]
    FROM 
        [dbo].[MST_QuestionLevel]
    INNER JOIN 
        [dbo].[MST_User] 
    ON 
        [dbo].[MST_QuestionLevel].[UserID] = [dbo].[MST_User].[UserID]
    WHERE 
        [dbo].[MST_QuestionLevel].[QuestionLevelID] = @QuestionLevelID
END
GO
/****** Object:  StoredProcedure [dbo].[PR_MST_QuestionLevel_Update]    Script Date: 05-02-2025 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[PR_MST_QuestionLevel_Update]
@QuestionLevelID	INT,
@QuestionLevel		NVARCHAR(100),
@UserID				INT
AS
BEGIN
    UPDATE [dbo].[MST_QuestionLevel]
    SET 
        [dbo].[MST_QuestionLevel].[QuestionLevel] = @QuestionLevel,
        [dbo].[MST_QuestionLevel].[UserID] = @UserID,
        [dbo].[MST_QuestionLevel].[Modified] = Getdate()
    WHERE [dbo].[MST_QuestionLevel].[QuestionLevelID] = @QuestionLevelID
END
GO
/****** Object:  StoredProcedure [dbo].[PR_MST_Quiz_Delete]    Script Date: 05-02-2025 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[PR_MST_Quiz_Delete]
@QuizID INT
AS
BEGIN
	DELETE FROM [dbo].[MST_Quiz]
	WHERE [dbo].[MST_Quiz].[QuizID] = @QuizID
END
GO
/****** Object:  StoredProcedure [dbo].[PR_MST_Quiz_Insert]    Script Date: 05-02-2025 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[PR_MST_Quiz_Insert]
    @QuizName NVARCHAR(100),
    @TotalQuestions INT,
    @QuizDate DATETIME,
    @UserID INT
AS
BEGIN
	DECLARE @Modified DATETIME = GETDATE();
    INSERT INTO [dbo].[MST_Quiz] 
    (
        [dbo].[MST_Quiz].[QuizName],
        [dbo].[MST_Quiz].[TotalQuestions],
        [dbo].[MST_Quiz].[QuizDate],
        [dbo].[MST_Quiz].[UserID],
        [dbo].[MST_Quiz].[Modified]
    )
    VALUES
    (
        @QuizName,
        @TotalQuestions,
        @QuizDate,
        @UserID,
        @Modified
    )
END
GO
/****** Object:  StoredProcedure [dbo].[PR_MST_Quiz_SelectAll]    Script Date: 05-02-2025 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE or alter  PROC [dbo].[PR_MST_Quiz_SelectAll]
AS
BEGIN
    SELECT 
        [dbo].[MST_Quiz].[QuizID],
        [dbo].[MST_Quiz].[QuizName],
		[dbo].[MST_Quiz].[TotalQuestions],
        [dbo].[MST_Quiz].[QuizDate],
		[dbo].[MST_User].[UserName],
        [dbo].[MST_Quiz].[Created],
        [dbo].[MST_Quiz].[Modified]
        FROM [dbo].[MST_Quiz]
		JOIN [dbo].[MST_User] ON
		[dbo].[MST_Quiz].[UserID]=[dbo].[MST_User].[UserID]
END
GO
/****** Object:  StoredProcedure [dbo].[PR_MST_Quiz_SelectByID]    Script Date: 05-02-2025 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[PR_MST_Quiz_SelectByID]
@QuizID INT
AS
BEGIN
    SELECT 
        [dbo].[MST_Quiz].[QuizID],
        [dbo].[MST_Quiz].[QuizName],
		[dbo].[MST_Quiz].[TotalQuestions],
        [dbo].[MST_Quiz].[QuizDate],
		[dbo].[MST_User].[UserName],
		[dbo].[MST_User].[UserID],
        [dbo].[MST_Quiz].[Created],
        [dbo].[MST_Quiz].[Modified]
        FROM [dbo].[MST_Quiz]
		JOIN [dbo].[MST_User] ON
		[dbo].[MST_Quiz].[UserID]=[dbo].[MST_User].[UserID]
    WHERE [dbo].[MST_Quiz].[QuizID] = @QuizID
END
GO
/****** Object:  StoredProcedure [dbo].[PR_MST_Quiz_Update]    Script Date: 05-02-2025 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[PR_MST_Quiz_Update]
    @QuizID			INT,
    @QuizName		NVARCHAR(100),
    @TotalQuestions INT,
    @QuizDate		DATETIME,
	@UserID			INT
AS
BEGIN
	DECLARE @Modified DATETIME = GETDATE();
    UPDATE [dbo].[MST_Quiz]
    SET 
        [dbo].[MST_Quiz].[QuizName]			= @QuizName,
        [dbo].[MST_Quiz].[TotalQuestions]	= @TotalQuestions,
        [dbo].[MST_Quiz].[QuizDate]			= @QuizDate,
		[dbo].[MST_Quiz].[UserID]			= @UserID,
        [dbo].[MST_Quiz].[Modified]			= @Modified
    WHERE [dbo].[MST_Quiz].[QuizID]			= @QuizID
END
GO
/****** Object:  StoredProcedure [dbo].[PR_MST_QuizWiseQuestions_Delete]    Script Date: 05-02-2025 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[PR_MST_QuizWiseQuestions_Delete]
@QuizWiseQuestionsID INT
AS
BEGIN
	DELETE FROM [dbo].[MST_QuizWiseQuestions]
	WHERE [dbo].[MST_QuizWiseQuestions].[QuizWiseQuestionsID] = @QuizWiseQuestionsID
END
GO
/****** Object:  StoredProcedure [dbo].[PR_MST_QuizWiseQuestions_Insert]    Script Date: 05-02-2025 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[PR_MST_QuizWiseQuestions_Insert]
    @QuizID			INT,
    @QuestionID		INT,
    @UserID			INT
AS
BEGIN
    INSERT INTO [dbo].[MST_QuizWiseQuestions] 
    (
        [dbo].[MST_QuizWiseQuestions].[QuizID],
        [dbo].[MST_QuizWiseQuestions].[QuestionID],
        [dbo].[MST_QuizWiseQuestions].[UserID],
        [dbo].[MST_QuizWiseQuestions].[Modified]
    )
    VALUES
    (
        @QuizID,
        @QuestionID,
        @UserID,
        getdate()
    )
END
GO
/****** Object:  StoredProcedure [dbo].[PR_MST_QuizWiseQuestions_SelectAll]    Script Date: 05-02-2025 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[PR_MST_QuizWiseQuestions_SelectAll]
AS
BEGIN
	SELECT 
		[dbo].[MST_QuizWiseQuestions].[QuizWiseQuestionsID],
		[dbo].[MST_QuizWiseQuestions].[QuizID],
		[dbo].[MST_Quiz].[QuizName],
		[dbo].[MST_QuizWiseQuestions].[QuestionID],
		[dbo].[MST_Question].[QuestionText],
		[dbo].[MST_QuizWiseQuestions].[UserID],
		[dbo].[MST_User].[UserName],
		[dbo].[MST_QuizWiseQuestions].[Created],
		[dbo].[MST_QuizWiseQuestions].[Modified]
	FROM [dbo].[MST_QuizWiseQuestions]
	INNER JOIN [dbo].[MST_Quiz] ON [dbo].[MST_QuizWiseQuestions].[QuizID] = [dbo].[MST_Quiz].[QuizID]
	INNER JOIN [dbo].[MST_Question] ON [dbo].[MST_QuizWiseQuestions].[QuestionID] = [dbo].[MST_Question].[QuestionID]
	INNER JOIN [dbo].[MST_User] ON [dbo].[MST_QuizWiseQuestions].[UserID]=[dbo].[MST_User].[UserID]
END
GO
/****** Object:  StoredProcedure [dbo].[PR_MST_QuizWiseQuestions_SelectByID]    Script Date: 05-02-2025 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[PR_MST_QuizWiseQuestions_SelectByID]
@QuizWiseQuestionsID INT
AS
BEGIN
	SELECT 
		[dbo].[MST_QuizWiseQuestions].[QuizWiseQuestionsID],
		[dbo].[MST_QuizWiseQuestions].[QuizID],
		[dbo].[MST_Quiz].[QuizName],
		[dbo].[MST_QuizWiseQuestions].[QuestionID],
		[dbo].[MST_Question].[QuestionText],
		[dbo].[MST_QuizWiseQuestions].[UserID],
		[dbo].[MST_User].[UserName],
		[dbo].[MST_QuizWiseQuestions].[Created],
		[dbo].[MST_QuizWiseQuestions].[Modified]
	FROM [dbo].[MST_QuizWiseQuestions]
	INNER JOIN [dbo].[MST_Quiz] ON [dbo].[MST_QuizWiseQuestions].[QuizID] = [dbo].[MST_Quiz].[QuizID]
	INNER JOIN [dbo].[MST_Question] ON [dbo].[MST_QuizWiseQuestions].[QuestionID] = [dbo].[MST_Question].[QuestionID]
	INNER JOIN [dbo].[MST_User] ON [dbo].[MST_QuizWiseQuestions].[UserID]=[dbo].[MST_User].[UserID]
	WHERE [dbo].[MST_QuizWiseQuestions].[QuizWiseQuestionsID] = @QuizWiseQuestionsID
END
GO
/****** Object:  StoredProcedure [dbo].[PR_MST_QuizWiseQuestions_Update]    Script Date: 05-02-2025 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[PR_MST_QuizWiseQuestions_Update]
@QuizWiseQuestionsID	INT,
@QuizID					INT,
@QuestionID				INT,
@UserID					INT
AS
BEGIN
	UPDATE [dbo].[MST_QuizWiseQuestions]
	SET 
		[dbo].[MST_QuizWiseQuestions].[QuizID]		= @QuizID,
		[dbo].[MST_QuizWiseQuestions].[QuestionID]	= @QuestionID,
		[dbo].[MST_QuizWiseQuestions].[UserID]		= @UserID,
		[dbo].[MST_QuizWiseQuestions].[Modified]	= getdate()
	WHERE [dbo].[MST_QuizWiseQuestions].[QuizWiseQuestionsID] = @QuizWiseQuestionsID
END
GO
/****** Object:  StoredProcedure [dbo].[PR_MST_User_Delete]    Script Date: 05-02-2025 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[PR_MST_User_Delete]
    @UserID INT
AS
BEGIN
    DELETE FROM [dbo].[MST_User]
    WHERE UserID = @UserID
END
GO
/****** Object:  StoredProcedure [dbo].[PR_MST_User_Insert]    Script Date: 05-02-2025 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[PR_MST_User_Insert]
    @UserName		NVARCHAR(100),
    @Email			NVARCHAR(100),
    @Password		NVARCHAR(100),
	@Mobile			NVARCHAR(100)
AS
BEGIN
	DECLARE @Modified DATETIME = GETDATE();
    INSERT INTO [dbo].[MST_User] 
    (
        [dbo].[MST_User].[UserName],
        [dbo].[MST_User].[Email],
        [dbo].[MST_User].[Password],
        [dbo].[MST_User].[Modified],
		[dbo].[MST_User].[Mobile]

    )
    VALUES
    (
        @UserName,
        @Email,
        @Password,
        @Modified,
		@Mobile
    )
END
GO
/****** Object:  StoredProcedure [dbo].[PR_MST_User_SelectAll]    Script Date: 05-02-2025 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[PR_MST_User_SelectAll]
AS
BEGIN
	SELECT 
		[dbo].[MST_User].[UserID],
		[dbo].[MST_User].[UserName],
		[dbo].[MST_User].[Password],
		[dbo].[MST_User].[Email],
		[dbo].[MST_User].[Mobile],
		[dbo].[MST_User].[IsActive],	
		[dbo].[MST_User].[IsAdmin],	
		[dbo].[MST_User].[Created],
		[dbo].[MST_User].[Modified]
	FROM [dbo].[MST_User]
END
GO
/****** Object:  StoredProcedure [dbo].[PR_MST_User_SelectByID]    Script Date: 05-02-2025 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[PR_MST_User_SelectByID]
@UserID INT
AS
BEGIN
	SELECT 
		[dbo].[MST_User].[UserID],
		[dbo].[MST_User].[UserName],
		[dbo].[MST_User].[Password],
		[dbo].[MST_User].[Email],
		[dbo].[MST_User].[Mobile],
		[dbo].[MST_User].[IsActive],	
		[dbo].[MST_User].[IsAdmin],	
		[dbo].[MST_User].[Created],
		[dbo].[MST_User].[Modified]
	FROM [dbo].[MST_User]
	WHERE [dbo].[MST_User].[UserID] = @UserID
END

GO
/****** Object:  StoredProcedure [dbo].[PR_MST_User_Update]    Script Date: 05-02-2025 12:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[PR_MST_User_Update]
@UserID			INT,
@UserName		NVARCHAR(100),
@Email			NVARCHAR(100),
@Password		NVARCHAR(100),
@Mobile			NVARCHAR(100),
@IsActive		BIT,
@IsAdmin		BIT
AS
BEGIN
	DECLARE @Modified DATETIME = GETDATE();
	UPDATE [dbo].[MST_User]
	SET 
		[dbo].[MST_User].[UserName]		=	@UserName,
		[dbo].[MST_User].[Password]		=	@Password,
		[dbo].[MST_User].[Email]		=	@Email,
		[dbo].[MST_User].[Mobile]		=	@Mobile,
		[dbo].[MST_User].[IsActive]		=	@IsActive,
		[dbo].[MST_User].[IsAdmin]		=	@IsAdmin,
		[dbo].[MST_User].[Modified]		=	@Modified
	WHERE [dbo].[MST_User].[UserID]		=	@UserID
END
GO
USE [master]
GO

CREATE or alter PROCEDURE [dbo].[PR_User_Login]
    @UserName NVARCHAR(50),
    @Password NVARCHAR(50)
AS
BEGIN
    SELECT 
        [dbo].[MST_User].[UserID], 
        [dbo].[MST_User].[UserName], 
        [dbo].[MST_User].[Mobile], 
        [dbo].[MST_User].[Email], 
        [dbo].[MST_User].[Password]
       
    FROM 
        [dbo].[MST_User] 
    WHERE 
        [dbo].[MST_User].[UserName] = @UserName 
        AND [dbo].[MST_User].[Password] = @Password;
END

exec [dbo].[PR_User_Login] 'Haresh','haresh@123'
select * from [dbo].[MST_Quiz] 

